<nav class="navbar navbar-primary bg-primary shadow">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-white">
      <h1>App de turnos - pantalla de clientes</h1>
    </a>
  </div>
</nav>

<div class="row justify-content-center">

  <div class="col-lg-5 col-md-5 col-sm-12">
    <div class="container p-3 rounded text-center">
        <h1 class="text-dark text-center mb-2">Lista de turnos</h1>

        <div *ngFor="let turn of listTurns;let i = index">
            <div [class]="'alert shadow bg-primary'" role="alert">
                <div class="row">
                    <div class="col-4 text-center">
                        <h4 class="text-white"><b>Turno:</b><br>TN-{{ turn.code }}</h4>
                    </div>
                    <div class="col-4 text-center">
                        <h4 class="text-white" *ngIf="turn.window=='1'"><b>Puesto:</b><br>{{ turn.window }}</h4>
                    </div>
                    <div class="col-4 text-center">
                        <h4 class="text-white"><b>Hora:</b><br>{{ turn.created_at | date:'shortTime' }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert" *ngIf="listTurns.length<=0">
            <h4 class="text-secondary">Sin turnos</h4>
        </div>

    </div>
  </div>

</div>
