<nav class="navbar navbar-primary bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <h1>App de turnos</h1>
    </a>
  </div>
</nav>

<div class="row justify-content-center">
  <div routerLink="/generate" class="col-7 text-center mt-5 p-5 rounded bg-dark text-white shadow">
    <h1>Generador</h1>
  </div>
  <div routerLink="/screen" class="col-7 text-center mt-5 p-5 rounded bg-dark text-white shadow">
    <h1>Pantalla</h1>
  </div>
  <div routerLink="/assistant" class="col-7 text-center mt-5 p-5 rounded bg-dark text-white shadow">
    <h1>Asistentes</h1>
  </div>
</div>
